#listaClientes {
  list-style: none;
  padding-left: 0;
  margin-left: 3%;
}

#listaClientes li {
  list-style: none;
  background-color: #f9f9f9;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}


.barra-clientes {
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 5px;
}

.cliente-item button:hover {
    background-color: #e09729;
}

.cliente-item {
    background-color:darkblue;
    margin-right: 50%;
    border-radius: 30px;
    content: normal;
    list-style: none;
    margin-bottom: 20px;
}

.cliente-item .cliente-item-btn {
    width: 150%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 12px 20px;
    border-radius: 999px;
    background: #050a9e;  
    color: white;
    border: none;
    cursor: pointer;
}

.cliente-item .cliente-item-btn:hover {
    background-color: #0e5cd1;
}


