* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


header {  
    background:rgb(54, 54, 140);
    font-family: 'Courier New', Courier, monospace;
    color: rgb(238, 238, 239);
    padding: 20px;
    grid-column: 1 / -1;
}

h2 {
    margin-bottom: 20px;
}

.header-app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items:center;
    gap: 15px;
}

.header-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
}

.logout-btn {
    cursor: pointer;
    hover {
        transform: scale(1.05);
    }
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-welcome {
    font-size: 18px;
    margin-left: 110px;
}


body { 
    /*ALTERAR*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #dadadf;
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: auto 1fr auto;
}

/* --- Estilos do Footer --- */
footer {
    background-color: #f8f9fa; /* Um cinza muito claro, limpo e moderno */
    color: #6c757d; /* Texto num tom de cinza intermédio (não tão forte como o preto) */
    text-align: center; /* Centra o texto perfeitamente */
    padding: 5px 8px; /* Dá espaço acima e abaixo do texto */
    font-size: 14px;
    border-top: 1px solid #dee2e6; /* Uma linha muito subtil a separar o conteúdo do footer */
    width: 100%;
    box-sizing: border-box;
    margin-top: auto; /* Ajuda a empurrar o footer para o fundo se a página tiver pouco conteúdo */
    grid-column: 1 / -1;
}

/* Remove a margem padrão do parágrafo para ficar perfeitamente centrado */
footer p {
    margin: 0;
    font-weight: 500;
}

.home-btn button {
    background: rgb(34, 34, 198);
}

.btn {
    background:  darkblue;
    border-radius: 100px;
    border: none;
    color: white;
    padding: 12px 25px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s;
}

.btn:hover {
    background-color: #10106e;
    transform: scale(1.03);
}

.btn:disabled {
    opacity: 0.5;
    cursor: default;
    filter: grayscale(20%);
}



